<ion-view view-title="Timeline" hide-nav-bar="true">
  <!-- Bars -->
  <div class="top_bar">
    <a href="#" class="w50 active">Now</a>
    <a href="#" class="w50">Previous</a>
  </div>

  <div class="filters">
    <button class="active button circle_button button-light ion-plus pink_button" style="background: #d04747!important;"></button>
  </div>

  <!-- Content -->
  <ion-content scroll="true" class="padding_topbar">



    <div class="my_card">
      <div class="heading" style="background-image:url(img/cities/bangkok.jpg);">
        <div class="black_layer">
          <h3>Now</h3>
          <h1>Bangkok</h1>
          <h2>Thailand</h2>
        </div>
      </div>
      <!-- Content -->
      <div class="list">

        <a class="item item-icon-left" href="#">
          <i class="icon ion-ios-calendar-outline"></i>
          Constitution Day (Holiday)
          <span class="item-note">
            This Thursday
          </span>
        </a>

        <a class="item item-icon-left" href="#">
          <i class="icon ion-ios-calendar-outline"></i>
          Bike for Dad
          <span class="item-note">
            This Friday
          </span>
        </a>

        <a class="item item-icon-left item-icon-right" href="#">
          <i class="icon ion-ios-paper-outline"></i>
          Russia warns Thailand ISIS militants infiltrated country
          <i class="icon ion-chevron-right"></i>
        </a>

        <a class="item item-icon-left" href="#">
          <i class="icon ion-ios-cloud weather_icon"></i>
          Mostly Cloudy
          <span class="badge badge-assertive">31&deg; C</span>
        </a>

      </div>
    </div>


    <h2 class="pink heading_content">Your wish list</h2>
    <div class="list">

        <a class="item item-avatar" href="#">
          <img src="img/places/place-5.png">
          <h2>Luka</h2>
          <p>The Em District</p>
        </a>
        <a class="item item-avatar" href="#">
          <img src="img/places/place-6.png">
          <h2>Another Hound Cafe</h2>
          <p>The Em District</p>
        </a>
        <a class="item item-avatar" href="#">
          <img src="img/places/place-7.png">
          <h2>Let the boy die</h2>
          <p>The Em District</p>
        </a>

      </div>

  </ion-content>
</ion-view>
