<ion-view view-title="Reviews">
	<ion-content>
		
		<div class="info">
			<a href="#">
				<i class="icon icon_right alignright"></i>
				<h1>Tajima Japanese Restaurant</h1>
				<h2>Lumpini, Prathum Wan</h2>
				<h3>Open Today <span class="pink">10:00 - 22:00</span></h3>
				<h3>
					<i class="icon ion-ios-star yellow_icon"></i> <i class="icon ion-ios-star yellow_icon"></i> 
					<i class="icon ion-ios-star yellow_icon"></i> <i class="icon ion-ios-star yellow_icon"></i> 
					9.3
				</h3>
			</a>
		</div>

		<h2 class="pink heading_content">Reviews</h2>
		<ul class="list">
			<li class="item">
				<h2 class="pink">"Spicy Tuna Maki"</h2>
			</li>
		    <li class="item_txt">
		    	There were many authentic dishes and I like agetofu (lightly fried tofu with sauce, daikon oroshi and chopped scallions). Even in my take out container, the fried tofu stayed crisp and warm and they expertly packed all the side sauces to make this dish complete. I also had the <span class="hilight_yellow">Spicy Tuna Maki</span> which, admittedly, wasn't awesome but it was good. I will definitely go back and try more items soon. The staff was also very nice and offered me a glass of water while I waited.
		    	<div class="star">
		    		<i class="icon ion-ios-star yellow_icon"></i> <i class="icon ion-ios-star yellow_icon"></i> 
					<i class="icon ion-ios-star yellow_icon"></i> <i class="icon ion-ios-star yellow_icon"></i> 
					<i class="icon ion-ios-star yellow_icon"></i> 
		    	</div>
		    </li>
		    <li class="item_txt">
		    	Great ambience, decor, and service (for the most part). However, the sushi was just okay and the prices were pretty high for what you got. I sat at the sushi counter with a couple friends and we ordered some nigiri, <span class="hilight_yellow">Spicy Tuna Maki</span> , and chirashi bowl.
		    	<div class="star">
		    		<i class="icon ion-ios-star yellow_icon"></i> <i class="icon ion-ios-star yellow_icon"></i> 
					<i class="icon ion-ios-star yellow_icon"></i> <i class="icon ion-ios-star yellow_icon"></i> 
		    	</div>
		    </li>
		    <li class="item_txt">
		    	I went to this shop and bought <span class="hilight_yellow">Spicy Tuna Maki</span> and that was so yummy!
		    	<div class="star">
		    		<i class="icon ion-ios-star yellow_icon"></i> <i class="icon ion-ios-star yellow_icon"></i> 
					<i class="icon ion-ios-star yellow_icon"></i> <i class="icon ion-ios-star yellow_icon"></i> 
		    	</div>
		    </li>

		</ul>
	</ion-content>
</ion-view>