<ion-view view-title="Account" hide-nav-bar="true">
  <ion-content>

  	<div class="me_preference">
  		<!--<div class="black_layer">
  			<button class="button button-outline button-light edit_icon ion-edit"></button>
  			<h1>Supawit</h1>
  			<h2>Student at King Mongkut's University</h2>
  		</div>-->
  	</div>
  	<div class="list">

	  <a href="#" class="item item-icon-left item-icon-right">
	    <i class="icon ion-person blue_icon"></i>
	    <div>Supawit (21)</div>
	    <div class="small_txt">Student at King Mongkut's University</div>
	    <i class="icon ion-edit edit_icon_right"></i>
	  </a>

	  <li class="item item-icon-left item-toggle">
         <i class="icon ion-earth"></i>
         Discover me
         <label class="toggle toggle-assertive">
           <input type="checkbox" checked>
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
       </li>

	</div>



  	<h2 class="pink heading_content">Add more preferences</h2>
  	<div class="my_card card_pref">
  		<div class="preferences">
	  		<button class="button ion-plus-circled button-small">
			  European foods
			</button>
	  		<button class="button ion-plus-circled button-small">
			  Fried Chicken
			</button>
	  		<button class="button ion-plus-circled button-small">
			  Cozy places 
			</button>
	  		<button class="button ion-plus-circled button-small">
			  Good for group
			</button>
	  		<button class="button ion-plus-circled button-small">
			  Outdoor seats
			</button>
	  		<button class="button ion-plus-circled button-small">
			  Italian foods
			</button>
	  		<button class="button ion-plus-circled button-small">
			  Maxican foods
			</button>
	  		<button class="button ion-plus-circled button-small">
			  Rooftop bars
			</button>
		</div>
		<a href="" class="button_refresh">
			<i class="icon ion-refresh"></i>
			Reload preferences
		</a>
  	</div>

  	<h2 class="pink heading_content">Most active preferences</h2>
  	<div class="my_card card_pref">
  		<div class="preferences">
	  		<button class="button button-small pink_button">
			  Japanese foods
			</button>
	  		<button class="button button-small pink_button">
			  Nagiya
			</button>
	  		<button class="button button-small pink_button">
			  Salmon
			</button>
	  		<button class="button button-small pink_button">
			  Tuna
			</button>
	  		<button class="button button-small pink_button">
			  Makisushi
			</button>
	  		<button class="button button-small pink_button">
			  Tori
			</button>
	  		<button class="button button-small pink_button">
			  Ramen
			</button>
	  		<button class="button button-small pink_button">
			  Noodle
			</button>
	  		<button class="button button-small pink_button">
			  Mochi
			</button>
	  		<button class="button button-small pink_button">
			  Japanese Dessert
			</button>
	  		<button class="button button-small pink_button">
			  Okonomiyaki
			</button>
		</div>
  	</div>



  	<h2 class="pink heading_content">My Preferences</h2>
  	<div class="list">

	  <a class="item item-icon-right" href="#">
	    Food
	    <span class="badge badge-assertive">20</span>
	    <i class="icon ion-chevron-right"></i>
	  </a>
	  <a class="item item-icon-right" href="#">
	    Coffeeshop
	    <span class="badge badge-assertive">43</span>
	    <i class="icon ion-chevron-right"></i>
	  </a>
	  <a class="item item-icon-right" href="#">
	    Shopping
	    <span class="badge badge-assertive">13</span>
	    <i class="icon ion-chevron-right"></i>
	  </a>
	  <a class="item item-icon-right" href="#">
	    Nightlife
	    <span class="badge badge-assertive">5</span>
	    <i class="icon ion-chevron-right"></i>
	  </a>
	  <a class="item item-icon-right" href="#">
	    Activities
	    <span class="badge badge-assertive">2</span>
	    <i class="icon ion-chevron-right"></i>
	  </a>

	</div>

  	<div class="list">
	  <a class="item item-icon-left item-icon-right" href="#">
	    <i class="icon ion-clock"></i>
	    History
	    <i class="icon ion-chevron-right"></i>
	  </a>
	  <a class="item item-icon-left item-icon-right" href="#">
	    <i class="icon ion-gear-a"></i>
	    Settings
	    <i class="icon ion-chevron-right"></i>
	  </a>
	  <a class="item item-icon-left item-icon-right" href="#">
	    <i class="icon ion-forward"></i>
	    Logout
	    <i class="icon ion-chevron-right"></i>
	  </a>

	</div>

	<br>
	<br>




  </ion-content>
</ion-view>
