
<ion-view view-title="Explore" hide-nav-bar="true">
  <div class="filters">
    <button class="active button circle_button button-light ion-fork"></button>
    <button class="button circle_button button-light ion-coffee"></button>
    <button class="button circle_button button-light ion-bag"></button>
    <button class="button circle_button button-light ion-wineglass"></button>
    <button class="button circle_button button-light ion-map"></button>
  </div>

  <ion-content class="places">
    <div class="note note2">
         <span class="ion-icecream"></span> Prathumwan, Bangkok
      </div>
      <!-- Places -->
      <div class="place">
        <div class="black_layer">
          <button class="button button-clear button-balanced ion-bookmark">
            <span class="button_text">Add to wish list</span>
          </button>

          <div class="alignright">
            <button class="button button-clear button-energized ion-ios-star">
              <span class="button_text">9.3</span>
            </button>
          </div>

          <div class="profile_overlay">
            <i class="icon ion-happy yellow_icon"></i>
            <div class="pic" style="background-image:url(img/people/force.png)"></div>
            <i class="icon ion-happy yellow_icon"></i>
            <div class="pic" style="background-image:url(img/people/chanya.png)"></div>
          </div>

          <a href="#/tab/place">
            <h1>Tajima  <button class="button button-clear button-light next ion-chevron-right"></button></h1>
            <h2>Japanese Restaurant</h2>
            <h3>Rumpini, Pathum Wan</h3>
          </a>
        </div>
      </div>

      <!-- Places -->
      <div class="place" style="background-image:url(img/places/place-2.png);">
        <div class="black_layer">
          <button class="button button-clear button-balanced ion-bookmark">
            <span class="button_text">Add to wish list</span>
          </button>

          <div class="alignright">
            <button class="button button-clear button-energized ion-ios-star">
              <span class="button_text">9.0</span>
            </button>
          </div>

          <div class="profile_overlay">
            <i class="icon ion-happy yellow_icon"></i>
            <div class="pic" style="background-image:url(img/people/kook.png)"></div>
          </div>

          <a href="#/tab/place">
            <h1>Osito  <button class="button button-clear button-light next ion-chevron-right"></button></h1>
            <h2>Italian Restaurant</h2>
            <h3>Ploen Chit</h3>
          </a>
        </div>
      </div>

      <!-- Places -->
      <div class="place" style="background-image:url(img/places/place-3.png);">
        <div class="black_layer">
          <button class="button button-clear button-balanced ion-bookmark">
            <span class="button_text">Add to wish list</span>
          </button>

          <div class="alignright">
            <button class="button button-clear button-energized ion-ios-star">
              <span class="button_text">8.6</span>
            </button>
          </div>

          <div class="profile_overlay">
            <i class="icon ion-happy yellow_icon"></i>
            <div class="pic" style="background-image:url(img/people/chanya.png)"></div>
          </div>

          <a href="#">
            <h1>Seed  <button class="button button-clear button-light next ion-chevron-right"></button></h1>
            <h2>Contemporary American Restaurant</h2>
            <h3>Rumpini, Pathum Wan</h3>
          </a>
        </div>
      </div>

      <!-- Places -->
      <div class="place" style="background-image:url(img/places/place-4.png);">
        <div class="black_layer">
          <button class="button button-clear button-balanced ion-bookmark">
            <span class="button_text">Add to wish list</span>
          </button>

          <div class="alignright">
            <button class="button button-clear button-energized ion-ios-star">
              <span class="button_text">8.4</span>
            </button>
          </div>

          <div class="profile_overlay">
            <i class="icon ion-happy yellow_icon"></i>
            <div class="pic" style="background-image:url(img/people/force.png)"></div>
          </div>
          
          <a href="#/tab/place">
            <h1>CHUBU<button class="button button-clear button-light next ion-chevron-right"></button></h1>
            <h2>Japanese Restaurant</h2>
            <h3>Rumpini, Pathum Wan</h3>
          </a>
        </div>
      </div>
  </ion-content>



  </ion-content>
</ion-view>
