<ion-view view-title="Finding" hide-nav-bar="true" nav-transition="none">
  <!-- Bars -->
  <div class="top_bar">
    <a href="#/tab/finding" class="w50 active">Discover</a>
    <a href="#/tab/chats" class="w50">Chats</a>
  </div>

  <ion-content>
    <div class="td_card">
      <div style="background:#FFF;
      animation:fade 1.2s;
      width:80%!important;position:absolute;border:solid 1px rgba(0,0,0,0.1);margin-top:-36px;height:10px;border-bottom:none;">
      </div>
      <div style="background: #FFF;
      animation:fade 1s;
    width: 85%!important;
    position: absolute;
    border: solid 1px rgba(0,0,0,0.1);
    margin: -26px 0px 0px -10px;
    height: 10px;
    border-bottom: none;">
      </div>
      <div class="pic" style="background-image:url(img/people/mel.png);"></div>
      <div class="card_info">
        Melissa (21)
        <div class="alignright">
          <i class="icon ion-ios-people pink_icon"> 7</i> 
          <i class="icon ion-thumbsup blue_icon"> 12</i>
          <i class="icon ion-ios-heart yellow_icon"> 13</i> 
        </div>
        <div class="icon_bar">
          <a href="#" class="icon-left ion-thumbsdown">Not Interested</a>
          <a href="#" class="icon-left ion-thumbsup">Like</a>
        </div>
      </div>
    </div>


  </ion-content>
</ion-view>
